* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
:root {
  --surface-color: #BACEC2;
  --curve: 40;
}

body {
  background-color: #f6f4e8;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

/* ======================================= */
/* Navbar Init */
.container {
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}
.menu-icon {
  width: 25px;
  cursor: pointer;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
nav ul li a:hover {
  color: #f3753a !important;
}
.roww {
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.col-1 {
  /* background-color: rebeccapurple; */
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-1 h2 {
  font-size: 54px;
}
.col-1 h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 5px;
}
.col-1 p {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}
.col-1 h4 {
  margin: 30px 0;
  font-size: 20px;
}
button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #ff3527);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}
button img {
  width: 30px;
  display: none;
}
button:hover img {
  display: block;
}
button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col-1::after {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(#ff469f, #ff6062);
  position: absolute;
  left: -40px;
  top: 8px;
}

.col-2 {
  position: relative;
  flex-basis: 55%;
  display: flex;
  align-items: center;
}
.col-2 .controller {
  width: 90%;
}
.color-box {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#ff54a2, #ff575a);
  border-radius: 20px 0 20px;
  height: 15rem;
  height: 100%;
  width: 80%;
  z-index: -1;
  transform: translateX(150px);
}
/* .bg-dark-green {
  background-color: #bacec2;
}
.container-fluid ul {
  margin: 10px;

  justify-content: center;
  align-items: center;
}

.backyard-text {
  font-family: "Raleway", sans-serif !important;
  font-size: 32px;
  font-weight: 600;
  color: rgb(0, 0, 0) !important;
}

.position {
  place-content: end !important;
}
.position ul li a {
  font-size: 18px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
}
.position ul li a:hover {
  color: #f3753a !important;
} */
/* Navbar End */
/* ======================================= */

/* =================================== */
/* Info Init */
.info-container {
  margin-top: 5rem;
}
.info-container .tittle {
  font-size: 32px;
}
.benet-container {
  background-color: #f8f9fa;
  border-top-left-radius: 2rem;
  width: 210px;
  height: 210px;
}

.benet-container img {
  margin-top: 0.5rem;
  margin-left: 3.3rem;
}
.benet-container:hover {
  transform: scale(1.1);
}
.info-container__txt {
  padding-top: 0.2rem;
  text-align: center !important;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  object-fit: cover;
}
/* Info End */
/* =================================== */

/* ======================================= */
/* Infographic Init  */
.contain-info {
  /* background-color: red; */
  width: 90%;
  height: 28rem;
  margin-top: 1rem;
}
.info-contain1 {
  /* background-color: aqua; */
  width: 48%;
  height: 12rem;
  margin: 1rem;
  object-fit: contain;
}
.info-contain2 {
  /* background-color: aqua; */
  width: 38%;
  height: 25rem;
  margin: 1rem;
}
.info-contain2 img {
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  .info-contain2 {
    display: none;
  }
}
@media screen and (max-width: 879px) {
  .info-contain2 img {
    margin-top: 10rem;
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .info-contain2 img {
    margin-top: 5rem;
  }
}

/* Text init */
.info-contain1 {
  margin-top: 5rem;
}
.info-contain1 h1 {
  font-size: 45px;
  font-weight: bold;
}
.info-contain1 p {
  font-size: 16px;
  text-align: justify;
}
.info-contain1 li {
  font-size: 15px;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .info-contain1 {
    width: 100%;
    height: 35rem;
  }
  .col-1 {
    grid-column-start: 1;
  }
  .col-2 {
    grid-column-start: 2;
  }
  .roww > h2,
  .roww > h3,
  .roww > h4,
  .roww > p {
    font-size: 10px;
  }
  .roww img {
    width: 50px;
  }
  .color-box {
    width: 50%;
    left: 0;
  }
}

@media screen and (max-width: 425px) {
  .info-contain1 {
    width: 100%;
    height: 35rem;
  }
}
/* Text End */

.about-button {
  width: 15rem;
  font-size: 16px;
  border-radius: 0.4rem;
  background: #046844;
  font-weight: bold;
}
.about-button:hover {
  color: #f3753a;
}
/* Infographic End  */
/* ======================================= */

/* ====================================== */
/* Card Init */
.card-container {
  margin-top: 5rem;
  width: 100%;
}
/* texto offers Init */
.text-offer {
  text-align: center;
  font-weight: 500;
}
/* texto offers End */

.main-container__offers {
  background-color: red;
  height: 85rem;
  width: 95%;
  margin-top: 3rem !important;
  margin: 0 auto;
  padding: 0 auto;
}
.main-containe__text {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-left: 48rem;
}
.main-container__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.main-container__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  opacity: 80%;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;

  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  font-weight: 600 !important;
  color: black;
}

.card__tagline {
  display: block;
  margin: 1em 0;

  font-family: "MockFlowFont";
  font-size: 0.8em;

  color: black;
}

.card__status {
  font-size: 1.1em;
  color: rgb(78, 78, 78);
  font-weight: 700 !important;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #101010;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
}
.card-item {
  width: 90%;
  margin: 0 auto;
  padding: 0 auto;
  /* background-color: #f3753a; */
}

/* Offers End  */
/* ======================================= */

/* ======================================= */
/* Footer Init */
.content p {
  color: #101010;
  font-size: 18px;
  text-align: justify;
}
.content span {
  color: #101010;
  font-size: 18px;
}
.content h6 {
  color: #101010;
}
.content a {
  color: #101010;
}
.foot {
  color: #101010 !important;
  font-size: 18px;
}
.foot a {
  color: #101010 !important;
}
.container h5 {
  font-weight: 00;
}
/* Footer End*/
/* ======================================= */
