* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  height: 43.75em;
  width: 60em;
  margin: 6em auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.sec1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  background-color: whitesmoke;
}

.sec2 {
  padding: 2rem;
  width: 50%;
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
}
